
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header{
    font-family: Montserrat, Helvetica,sans-serif;
    background: white;
    height: 60px;

}
body{
    font-size: 23px;
    font-family: Roboto Flex, sans-serif;

}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f4f4f4;
    box-shadow:  inset 0px -1px 0px #c5c5c6;


}
.nav-icon{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px ;

}

.nav-icon span{
    font-family: Roboto Flex, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #333;

}

.nav-icon img{
    width: 40px;
    transform: rotate(-17deg) translate(5px);
}

.hamburger{
    display: none;

}

.navlinks-container a{
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative
}
.navlinks-container a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left ;
    background: #333;
    transition: transform 0.3s ease-out;
}
.navlinks-container a:hover::after{

    transform: scaleX(1) ;
}

.nav-authentification {
    margin-left: auto;

}
.sign-button button{
    font-family:  Roboto Flex, sans-serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 5px ;
    cursor: pointer;
    border: none;
}

.sign-button button:nth-child(2){
    border: none;
    background: #92c3eeb7 ;
}

.sign-user{
    display:none ;
}

 .home {
     width: 100%;
     height: 800px;
     background-image: url('../image/imageHome.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 .h1-home{
     padding: 150px;
     text-align: center;
     color: white;

 }

 footer{
     position: relative;
     bottom: 0;
     left: 0;
     right: 0;
     background: black;
     height: auto;
     width: 100vw;
     font-family: "Open Sans", serif;
     padding-top: 40px ;
     color: #fff;
 }

 .footer-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }

 .footer-content h3{
     font-size: 1.8rem;
     font-weight: 400;
     text-transform: capitalize;
     line-height: 3rem;

 }

 .footer-content p{
     max-width: 500px;
     margin: 10px auto;
     line-height: 28px;
     font-size: 14px;
 }

 .social{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0;

 }

 .social li{
     margin: 0 10px;
 }

 .social a{
     text-decoration: none;
     color: white;
 }

 .social a i{
     font-size: 1.1rem;
     transition: color .4s ease;
 }

 .social a:hover i{
     color: aqua;
 }


 .equipier{
     width: 200px;
     height: 200px;
     float: left;
     shape-outside: margin-box;
     margin: 0 20px 5px 0;
 }
 .contenue{
     max-width: 1000px;
     margin: 0 auto;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 5px 5px 15px rgba(0,0,0,0.3);

 }

 .contenue::after{
     content: "";
     display: block;
     clear: both;

 }

 .contenue h2{
     margin-bottom: 10px;

 }

 .contenue p{
     line-height: 1.4;
 }


.Projet {
    width: 100%;
    height: 800px;
    background-image: url('../image/Gameplay.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 900px) {
    nav {
        padding: 15px 20px;
        position: relative;
    }
    .nav-icon{
        order: 2;
        margin: 0 auto;
    }

    .nav-icon span{
        font-size: 22px;
    }



    .main-navlinks{
        order: 1;
    }
    /* Hamburger  */
    .hamburger{
        width: 20px;
        height: 20px ;
        cursor: pointer;
        border: none;
        display: flex;
        background: #fafafa;
        align-items: center;
        position: relative;

    }

    .hamburger span{
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1),.hamburger span:nth-child(3){
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1){
        transform: translateY(7px);
    }
    .hamburger span:nth-child(3){
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1){
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2){
        opacity: 0;
        transition: opacity 0s ease-out ;
    }
    .hamburger.open span:nth-child(3){
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #fafafa;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #c5c5c6;
        transform: translate(-100%);
        transition: transform 0.3s ease-out;
    }

    .open{
        transform:  translate(0%);

    }

    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0;
    }

    .nav-authentification{
        order: 3;
        margin-left:0 ;
    }

    .sign-button{
        display: none;
    }
    .sign-user{
        display: block;
        cursor: pointer;
        border: none;
    }

    .sign-user img{
        width: 20px;
    }

    
}

@media (max-width: 500px) {
    .nav-icon img {
        width: 30px ;

    }

    .nav-icon span{
        font-size: 20px;
    }


    
}

.alternance{
    display: flex;
    align-items: center;
}

.logoG{
    max-width: 200px;
    margin-right: 20px;

}

.descriptions{
    font-size: 25px;
    color: #fafafa;
    line-height: 1.5;
    text-align: justify;
    margin-right: 40px;

}

